.header {
    background: #2c2623;
    color: @light-light-gray;
}

.offer {
    &__title {
        max-width: 330px;
        font-family: Georgia, serif;
        font-size: 44px;
        line-height: 57px;
        color: @white;
        margin-bottom: 10px;
    }
    &__link {
        &:extend(.btn);
    }
}