.menu {
    &__list {
        display: flex;

        .xs-block({
            flex-direction: column;
            align-items: center;
        });
    }

    &__item:not(:last-child) {
        margin-right: 37px;

        .xs-block({
            margin-right: 0;
            margin-bottom: 25px;
        });
    }

    &__link {
        font-size: 15px;
        letter-spacing: 0;
        color: @light-light-gray;
        &:extend(.link-hover);

        &:after {
            &:extend(.link-after);
        }

        &:hover {
            color: @white;

            &::after {
                &:extend(.link-hover-after-width);
            }
        }
    }
}
 