.pets {
    background: @light-gray;
    padding-top: 67px;
    padding-bottom: 67px;
    text-align: center;

    &__slider {
        margin-bottom: 36px;
    }

    &__item {        
        padding: 30px;        
    }

    &__item-content {
        width: 270px;
        margin: 0 auto;
        border-radius: 9px;
        background: @milk;
        padding: 0 0 35px;
        transition: all 0.4s ease;

        &:hover {
            box-shadow: 0px 2px 30px 5px rgba(13, 13, 13, 0.04);

            .pets__item-link {
                background: @beige;
            }
        }        
    }   
    
    &__title {
        &:extend(.title-2);
        letter-spacing: 0.06em;
        margin-bottom: 37px;
    }

    &__slider {
        position: relative;
    }

    &__img {
        display: flex;
        justify-content: center;
        margin-bottom: 22px;
    }

    &__name {
        font-size: 20px;
        margin-bottom: 18px;
    }

    &__item-link {
        &:extend(.btn-light);

        &:focus,
        &:active {
            &:extend(.btn:focus);
        }
    }

    &__link {
        &:extend(.btn);

        &:hover {
            &:extend(.btn:hover);
        }

        &:focus,
        &:active {
            &:extend(.btn:focus);
        }
    }
}


.swiper {
    width: 84%;
    margin: 0 auto;

    &-button-prev,
    &-button-next {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid @beige;
        background: transparent url("../img/icons/arrow.png") no-repeat center;
        transition: all 0.4s ease;

        &:hover {
            background-color: @beige;
        }

        &:after {
            display: none;
        }
    }

    &-button-prev {
        left: -5px;
    }

    &-button-next {
        right: -5px;
        transform: rotate(180deg);
    }
}

  